
  
  .app {
    width: 100%;
    font-size: 24px;
    background: #fff;
    height: 100%;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.8), 0 40px 20px -20px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
  }
  
  :host h2 {
    color: #6E7790;
    font-size: 22px;
    position: relative;
    margin-bottom: 20px;
    button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 7px 0;
      font-size: 14px;
    }
  }
  
  :host .section {
    margin: 10px 0;
    display: flex;
  }
  